.randomizer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.inp {
padding: 10px;
width: 35px;
}
.button {
    color: black;
    width: 200px;
    height: 40px;
}
.result {
    border: 2px solid rgb(15, 78, 23);
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
}